*{ padding: 0; margin: 0;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}

#paginaprincipal{ width: 80%; 
}

#videoinicio{width: 100%;}
#videoprincipal{padding-top: 90px;}

#logocuerpo{width: 700px;}
.centrovideo{
  margin-top: 20%;
  padding: 20%;
  color: #ffffff;
position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: cursive;
text-align: center;
}
.rojo{background-color: #ff2d2d;
height: 7px;width: 100%;}

.circulo{/*background-image: url(../img/grey.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 80%;
 display:inline-block;
 margin-right:2%;
 margin-left: 2%;
}
h3{color: #fff;}

#circulomargen{text-align: center;

}
 #mapa h1{color: #ff2d2d;}

#historiagym{ height: fit-content;
  background-image:url(../img/stronggggggg.png); background-repeat: no-repeat;
padding: 4%;
text-align: center;

}
#succsess{width: 20%; background-color: #428bca;}
#successimagen{width: 100%;
height: 300px;}

#mapa{width:96%;
 padding: 2%;
 background-color:#c0c0c0;
text-align: center;}

#ayna{width: 100%;
;}

 .slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 2%;
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}

#tamanodesliz{width: 50%;
 

background-color: #ff2d2d;

}
#englobatamanodesliz{ width: 62%;
  background-image:url(../img/barbell-3895455_960_7202.jpg); background-attachment: fixed;
padding: 4%;
text-align: center;
padding-left: 34%;
}

#redessociales{background-color: #424242;
padding: 5%;
text-align: center;}
#redessociales h4{ color: #ff2d2d;}

#redes img{width: 5%; padding-top: 3%;}
#redes img:hover{-webkit-transform:scale(1.3);transform:scale(1.3);
   transition: all .2s;}