*{ padding: 0; margin: 0;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
body{background-color: rgb(168, 168, 168); 
}  

/*body{ background-image:url(../img/grey.jpg); background-attachment: fixed;} */

nav{height: 100%;}

#paginaprincipal{ width: 80%; 
    height: fit-content;
 border: solid rgb(255, 225, 243);
 position: absolute;
 top: 1;
 left: 9%;
 background-color: rgb(255, 225, 243); 
 box-shadow: 0 0 2px #000; 
margin-top: 90px;
}

h5{ margin-top: 10px;
   

}


#menu{  
   
     z-index: 1;
  /*  position: -webkit-sticky; */
    position: fixed; 
    margin: 0 auto;
    width: 100%;
    height: 90px;
    background: rgb(59, 59, 59);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px #000;
    font-size: 13px ;
} 



#videoinicio{width: 100%;}


#cajitamenu5 a{background-color: blueviolet; padding: 14%; margin-left: 20px; text-decoration: none;color: rgb(0, 0, 0);box-shadow: 0 0 6px #000; }

.cajitamenu{  width: fit-content; padding: 1%; margin-left: 3%; }
.cajitamenu a{text-decoration: none; color: aliceblue; box-shadow: 0 0 6px #000;}

.cajitamenu a:hover{border: 7px solid blueviolet; transition: border .20s;}
#cajitamenu5 a:hover{background-color: rgb(231, 164, 220);color: aliceblue;}

#logomenu{width: 150px; height: 45px; }
#logomenu:hover{height: 30px; }