*{ padding: 0; margin: 0;}

#paginaprincipal{height: fit-content;
padding-top: 90px;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  

  ul {
    list-style-type: none;
  }
  
  a {
    color: #e95846;
    text-decoration: none;
  }
  
  .titulotarifa {
   
    color:#ff2d2d;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px; 
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    
  }
  

  .edito:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
  }
 
  .grande {
    width: 100%;
    margin-left: 43px ;
    margin-bottom: 20px;
  }
  
  .tarifa {
    margin:  10px;
    text-align: center;
    width: 300px;
    float: left;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    padding-bottom: 10px;
  }
  
  .tarifa:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }
  
  .nombretarifa {
    color: #FFF;
    background: #000000;
    padding: 20px ;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .tarifa .precio {
    background: #a3a3a3;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px ;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }

  .lista li {
    font-size: 15px;
    padding: 12px 8px;
  }
  
  .lista {
    background: #F0F0F0;
  }
  
  .precio {
    background: #FFF;
    padding: 15px;
    
  }

 